<h1>Burgers!</h1>

<h2>Burgers that are not Scarfed!</h2>

<ul>
  {{#each burgers}}
    {{#unless scarfed}}
      {{> burgers/burger-block scarf=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that are scarfed!</h2>

<ul>
  {{#each burgers}}
    {{#if scarfed}}
      {{> burgers/burger-block scarf=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burg">Burger Name:</label>
    <input type="text" id="burg" name="burger_name">
  </div>

  <div class="form-group">
    <label for="scarfed">Scarfed?</label><br>
    <input type="radio" name="scarfed" value="1" checked> Scarfed!<br>
    <input type="radio" name="scarfed" value="0"> Hot & Ready
  </div>

  <button type="submit">Add Burger</button>
</form>
