li {
    padding: 5px;
    margin: 5px;
}

.label {
    font-weight: bold;
}

.create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
}

.form-group {
    margin-bottom: 5px;
}

.change-scarf {
    margin: 2px;
    padding: 8px;
    color: white;
    font-weight: 500;
    background-color: rgb(90, 193, 90);
}

.delete-burger {
    margin: 2px;
    padding: 8px;
    color: white;
    font-weight: 600;
    background-color: rgb(229, 128, 128);
}

.burgerName {
    font-family: "Fredericka the Great", cursive;
    font-weight: 600;
    margin: 4px;
    padding: 8px;
    background-color: rgb(255, 240, 139);
}

#addBurger {
    margin: 2px;
    padding: 8px;
    color: white;
    font-weight: 500;
    background-color: rgb(46, 122, 229);
}

.cell {
    background-color: rgb(229, 229, 229);
}

ul.a {
    list-style-type: none;
}

h1.restName {
    font-family: "Fredericka the Great", cursive;
}

.intro {
    font-family: "Fredericka the Great", cursive;
    font-weight: 500;
}


/* 
#addB {
    
    background-image: url("paper.gif");
    background-color: #cccccc;
    
} */